<ion-header>
    <ion-toolbar style="--background-color: {{colorDiferente}}; --background: {{colorDiferente}};">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content style="--background-color: {{colorActual}}; --background: {{colorActual}};">
  <button (click)="cambiarColor()"><ion-icon name="contrast-outline" style="font-size: 20px;"></ion-icon></button>
  <swiper-container
  pagination="true"
  loop="true"
  slides-per-view="3"
  >
  <swiper-slide *ngFor="let album of albums" (click)="showSongs(album.id)">
    <div class="slide-content">
      <img [src]="album.image"/>
      <p>{{ album.name }}</p>
    </div>
  </swiper-slide>
</swiper-container>
<!-- Mostrar un swiper o lista con los artistas del servidor y al darle clikc muestre las canciones de ese artista -->
</ion-content>